<nav style="z-index: 1000;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a style="color: white;" class="navbar-brand" href="#">
        <img src="../../../assets/appicon.svg" />
        WriteFluency
      </a>
      <div class="d-flex">
        <div hidden class="dropdown" style="margin-right: 10px;">
          <button style="width: 100%; height: 39px; border: none; background-color: none;"
            class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="../../../assets/localizationicon.svg" />
            <p style="margin-bottom: 0px;margin: auto;">BR</p>
          </button>
          <div class="dropdown-menu dropdown-menu-end" style="max-height: 70vh;overflow-y: auto;">
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/gb.png" alt="English Flag"> English</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/cn.png" alt="Chinese Flag"> 简体中文</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/es.png" alt="Spanish Flag"> Español</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/in.png" alt="Hindi Flag"> हिन्दी</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/sa.png" alt="Arabic Flag"> العربية</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/pt.png" alt="Portuguese Flag">Português</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/bd.png" alt="Bengali Flag"> বাংলা</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/ru.png" alt="Russian Flag"> Русский</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/id.png" alt="Indonesian Flag"> Bahasa Indonesia</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/fr.png" alt="French Flag"> Français</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/jp.png" alt="Japanese Flag"> 日本語</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/de.png" alt="German Flag"> Deutsch</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/kr.png" alt="Korean Flag"> 한국어</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/it.png" alt="Italian Flag"> Italiano</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/tr.png" alt="Turkish Flag"> Türkçe</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/pl.png" alt="Polish Flag"> Polski</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/nl.png" alt="Dutch Flag"> Nederlands</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/th.png" alt="Thai Flag"> ไทย</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/vn.png" alt="Vietnamese Flag"> Tiếng Việt</a>
            <a class="dropdown-item" href="#"><img src="https://flagcdn.com/16x12/se.png" alt="Swedish Flag"> Svenska</a>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: white; padding-left: 1em;" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a style="color: white; padding-left: 1em;" class="nav-link" href="/listen-and-write">Listen And Right</a>
          </li>
        </ul>
      </div>
  
    </div>
  </nav>
  <div class="navbar-space"></div>
