<p class="text-label">News Title</p>

<h1 class="text-title">The Celebrity Halo Effect: How Powerful Men Like Brad Pitt Bounce Back</h1>

<div class="news-classification">

    <div class="subject">
        <mat-icon fontSet="material-symbols-outlined" class="subject-icon">science</mat-icon>
        <p class="text-body">Science</p>
    </div>

    <div class="complexity">
        <mat-icon fontSet="material-symbols-outlined" class="intermediate-icon">looks_two</mat-icon>
        <p class="text-body">Intermediate</p>
    </div>

</div>
