<div class="btn-group" style="width: 100%;">
    <button type="button" class="d-flex justify-content-between align-items-center btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <div #label style="width: 90%;">
          <ng-content></ng-content>
        </div>
    </button>
    <ul class="dropdown-menu">
      <div *ngIf="options.length == 0" class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <li *ngFor="let op of options"><a class="dropdown-item" (click)="OnOptionSelected(op)">{{ op }}</a></li>
    </ul>
</div>
