<div class="body">
    <div class="inputbox d-flex flex-column align-items-center justify-content-center">
        <form class="d-flex container" style="padding-bottom: 1em;">

            <app-drop-down style="width: 10em; margin-right: 1em;"
                [label]="'Complexity'" 
                [options]="['Beginner', 'Intermediate', 'Advanced']">
            </app-drop-down>

            <app-drop-down style="width: 15em;"
                [label]="'Subject'" 
                [options]="['Travel', 'Culture', 'Business', 'Finance','Work', 'Technology and innovation', 'Entertainment', 'Science']">
            </app-drop-down>

        </form>
        <div class="container" style="height: 60%;">
            <div class="form-floating shadow-sm" style="height: 100%;">
                <textarea class="form-control" 
                    placeholder="Write the heard text here" 
                    id="textarea" style="height: 100%;">
                </textarea>
                <label for="textarea">Write it down here</label>
            </div>
        </div>
    </div>
</div>