<div class="body">

    <div *ngIf="loadingPage" style="width: 100%; height: 100%;" class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loadingPage" @fadeIn class="inputbox d-flex flex-column align-items-center justify-content-center">
        <form class="d-flex container " style="padding-bottom: 1em;">

            <div class="drop-downs d-flex justify-content-between">

                <app-drop-down #complexity style="width: 43%; margin-right: 3.94736%;" 
                    [options]="complexities">
                    Complexity
                </app-drop-down>

                <app-drop-down #subject style="width: 58%;" 
                    [options]="subjects">
                    Subject
                </app-drop-down>

            </div>

            <app-button class="new-button" [disabled]="!complexity.selectedOption || !subject.selectedOption || loadingAudio" 
            (onClick)="generateAudio()">{{ generateAudioLabel }}</app-button>

            <div #progressBar class="progress" role="progressbar" aria-label="Audio loading" aria-valuemin="0" aria-valuemax="100">
                <div #progress class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 0%"></div>
            </div>
            
            <audio hidden class="audio" #audioPlayer controls></audio>

        </form>

        <div class="container" style="height: 60%;">
            <div class="form-floating shadow-sm" style="height: 100%;">
                <textarea spellcheck="false" class="form-control" 
                    placeholder="Write the heard text here" 
                    id="textarea" #textarea style="height: 100%;">
                </textarea>
                <label for="textarea">Write it down here</label>
            </div>
        </div>

        <app-button  [disabled]="loadingVerify || originalText == ''" class="verify-button container" style="margin-top: 1em;" (onClick)="VerifyText()">
            <span>Verify text</span>
        </app-button>

    </div>
</div>