<div class="body">
    <div class="inputbox d-flex flex-column align-items-center justify-content-center">
        <form class="d-flex container" style="padding-bottom: 1em;">

            <app-drop-down #complexity style="width: 10em; margin-right: 1em;" 
                [options]="complexities">
                Complexity
            </app-drop-down>

            <app-drop-down #subject style="width: 15em; margin-right: 1em;" 
                [options]="subjects">
                Subject
            </app-drop-down>

            <app-button (click)="generateAudio()">Generate Audio</app-button>

            <audio #audioPlayer controls></audio>

        </form>
        <div class="container" style="height: 60%;">
            <div class="form-floating shadow-sm" style="height: 100%;">
                <textarea class="form-control" 
                    placeholder="Write the heard text here" 
                    id="textarea" style="height: 100%;">
                </textarea>
                <label for="textarea">Write it down here</label>
            </div>
        </div>
    </div>
</div>