resources:
- deployment.yaml
- service.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: wf-minio-init-env
  literals:
    - MINIO_ROOT_USER=minioadmin
    - MINIO_ROOT_PASSWORD=admin123

