.news-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    object-position: top;
}

.news-font {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}