<div class="cards">
    
    <div class="cards__user">
        <div class="cards__user__text card card-body">{{ userText }}</div>
        <div class="cards__user__highlighter card card-body">
            <span><span *ngFor="let part of textParts" matTooltip="{{ part.correction }}"
            [ngStyle]="{
                'color': part.highlight ? 'black' : 'transparent'}"
            [ngClass]="{'highlighted': part.highlight, 'not-highlighted': !part.highlight}"
            >{{ part.text }}</span></span>
        </div>
    </div>
    
    <div class="cards__original card card-body">
        {{ originalText }}
    </div>

</div>
<div mat-dialog-actions align="end">
    <button type="button" class="btn btn-light" (click)="close()">close</button>
</div>
