/* You can add global styles to this file, and also import other style files */

:root {
    --navbar-height: 61.5px;
    --view-height:  calc(100vh - 61.5px);
    --color-dark: #264653;
    --color-grey: #26465350;
    --color-green: #2a9d8f;
    --color-dark-green: #238378;
    --color-yellow: #e9c46a;
    --color-yellow-light: #e9c56a0d;
    --color-orange: #f4a261;
    --color-red: #e76f51;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* For Firefox */
body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.notifications {
    margin-top: 12px;
    position: absolute;
    width: 100vw;
    z-index: 1000;
}
  
#liveAlertPlaceholder {
    position: absolute;
    max-width: 600px;
}

.fadeIn {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeOut {
    animation: fadeOut 0.5s forwards;
}
  
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}