.btn-primary {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.btn-primary:active {
    background-color: var(--color-dark) !important;
    border-color: var(--color-green) !important;
}

.btn-primary:hover {
    background-color: var(--color-dark-green);
    border-color: var(--color-dark-green);
}