---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wf-webapp
  labels:
    app: wf-webapp
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 10
  template:
    metadata:
      labels:
        app: wf-webapp
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: wf-webapp
        readinessProbe:
          httpGet:
            path: /
            port: 4200
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /
            port: 4200
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 2
          failureThreshold: 3
        envFrom:
        - configMapRef:
            name: wf-webapp-env
        - secretRef:
            name: wf-app-secrets
