.home-background {
    background: linear-gradient(45deg, var(--color-yellow) 10%, white);
    height: var(--view-height);
}

.home {
    flex-direction: column;
    width: 100%; 
    height: calc(100vh - var(--navbar-height)*2);
}

.home__header{
    max-width: 300px;
}

.home__header__highlighted-word {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
    text-shadow: 0px 3px 0 var(--color-green);
}
  
.home__button {
    background-color: var(--color-green); 
    margin-top: 2em; 
    width: 70%; 
    color: white;
}

.home__image{
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) {
    .home-background {
        background: linear-gradient(var(--color-yellow), white);
    }

    .home {
        flex-direction: row;
    }

    .home__header {
        max-width: 400px;
    }

    .home__image{
        max-width: 50%;
    }
}
  