<div class="home-background">
    <div class="home d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center">
            <h1 class="home__header text-center">Unlock your <span class="home__header__highlighted-word">english writing</span> skills</h1>
            <button type="button" class="home__button btn fs-5 shadow-lg">Start Practicing Now</button>
        </div>
        <img class="home__image" src="../../assets/homeilustration.png">
    </div>
</div>