.listen-and-write {
    background-color: var(--color-yellow-light);
    height: var(--view-height);
    width: 100%;
}

.listen-and-write__proposition {
    width: 100%;
    margin-bottom: 1rem;
}

.listen-and-write__textarea {
    height: 60%;
    margin-bottom: 1rem;
}

.listen-and-write__textarea__form {
    height: 100%;
}

.listen-and-write__textarea__form__input {
    height: 100%;
}

.listen-and-write__textarea__form__input {
    border-color: var(--color-yellow);
}

.listen-and-write__textarea__form__input:focus {
    border-color: var(--color-yellow);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--color-yellow);
}

.listen-and-write__verify {
    width: 300px;
}

@media screen and (max-width: 992px) {
    .verify-button {
        width: 100%;
    }
}