.exercise-intro-container {
    display: grid;
    gap: 2rem;
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "news-info  news-image"
    "news-audio news-image"
    "exercise-intro-section exercise-intro-section";
}

.news-info { grid-area: news-info; }
.news-audio { grid-area: news-audio; }
.news-image { grid-area: news-image; }
.exercise-intro-section { grid-area: exercise-intro-section; }