<div [class]="{
    'nav-divider-intro': exerciseState() == 'intro',
    'nav-divider': exerciseState() != 'intro'
}"></div>

<div [class]="{
    'exercise-intro-container': exerciseState() == 'intro',
    'exercise-container': exerciseState() == 'exercise',
    'exercise-results-container': exerciseState() == 'results'
}">
    <app-news-info class="news-info" [class.classification-in-line]="exerciseState() != 'intro'"></app-news-info>

    <div class="news-audio">
    <app-news-audio id="newsAudio" (playClicked)="cancelTour()" [listenSuggestion]="exerciseState() == 'intro'"></app-news-audio>
    </div>

    <app-news-image class="news-image"></app-news-image>

    @if(exerciseState() === 'intro') {
        <app-exercise-intro-section class="exercise-intro-section" (beginExerciseClick)="beginExercise()">
        </app-exercise-intro-section>
    }

    @if(exerciseState() === 'exercise') {
        <app-exercise-section class="exercise-section">
        </app-exercise-section>
    }

    @if(exerciseState() === 'results') {
        <app-exercise-results-section class="exercise-results-section">
        </app-exercise-results-section>
    }

</div>